@media (min-width: 1158px) {
  .section-two .list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .list-advantages {
    width: calc((100% - 72px) / 4);
    min-width: 264px;
    height: 112px;
  }

  .advantages-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .section-three {
    display: flex;
    padding-bottom: 120px;
  }

  .section-three .header-two {
    margin-top: 120px;
  }
  .section-three .list {
    display: flex;
    padding: 0;
    gap: 24px;
  }

  .section-four {
    background-color: var(--color-button);
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-four .list {
    display: flex;
    margin-top: 72px;
    padding: 0;
    justify-content: center;
    gap: 24px;
  }

  .section-four .list-name {
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-white);
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
      0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
  }
  .container {
    min-width: 1158px;
  }

  .customers-list {
    display: flex;
    gap: 24px;
    margin: 0;
    /* padding: 0 156px 0 156px; */
  }

  .item-customers {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .container.foot {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .form-subscribe {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .foot-sect .logo.link {
    display: inline-block;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .foot-two-text {
    text-align: start;
  }

  .text-subscribe {
    text-align: start;
  }

  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desktop.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-desktop-2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .header-one {
    font-size: 56px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
  }

  .header-three {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-align: start;
  }

  .advantages-text {
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
  }

  .menu-toggle {
    display: none;
  }

  .hed .list {
    display: flex;
    gap: 40px;
  }

  .text-add .list {
    display: flex;
    gap: 12px;
    margin-right: 16px;
  }

  /*Potfolio*/
}
