:root {
  --color-grey: #434455;
  --color-blue: #4d5ae5;
  --color-darkgrey: #2e2f42;
  --color-button: #f4f4fd;
  --color-dark-blue: #404bbf;
  --color-white: #ffffff;
  --color-light-grey: #8e8f99;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-grey);
  background-color: var(--color-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

header li,
address li {
  display: inline-block;
  flex-direction: row;
}

.hed {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-hed {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo-hed {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-blue);
}

.link {
  text-decoration: none;
}

.part-logo {
  color: var(--color-darkgrey);
}

.list {
  list-style: none;
}

.hed .list {
  display: flex;
  gap: 40px;
}

.list-menu {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-darkgrey);
  padding: 24px 0;
}

.list-menu.link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  display: block;
  width: 100%;
}

.current {
  color: #404bbf;
}

.list-menu:hover,
.list-menu:focus {
  color: var(--color-dark-blue);
}

.list-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contacts:hover,
.list-contacts:focus {
  color: var(--color-dark-blue);
}

.hero-port:hover,
.hero-port:focus {
}

.name-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-darkgrey);
  margin-bottom: 8px;
}

.text-header {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

.foot-part-logo {
  color: var(--color-button);
}

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0;
  max-width: 1440px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/phone-hero.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-one {
  font-family: 'Roboto';
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
  line-height: 1.07;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

/*section 2 */

.advantages-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.section-two {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-two .list {
  display: flex;
  gap: 24px;
}

.list-advantages {
  width: calc((100% - 72px) / 4);
  width: 264px;
  height: 112px;
}

.header-three {
  /* section 2 and section 3 */
  font-family: 'Roboto' sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--color-darkgrey);
  margin-bottom: 8px;
}

/*section 3 */
.section-three {
  padding-bottom: 120px;
}

.section-three .header-two {
  margin-top: 120px;
}

.header-two {
  font-family: 'Roboto' sans-serif;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-darkgrey);
  margin-bottom: 72px;
}

.section-three .list {
  display: flex;
  padding: 0;
  gap: 24px;
}

.list-three {
  width: calc((100% - 48px) / 3);
}

img {
  margin: 0;
  padding: 0;
  display: block;
}

/*section 4 */
.section-four {
  background-color: var(--color-button);
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-four .list {
  display: flex;
  margin-top: 72px;
  padding: 0;
  justify-content: center;
  gap: 24px;
}

.section-four .list-name {
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.worker {
  padding: 32px 0;
}

.header-worker {
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}

.worker-text {
  text-align: center;
}

.list-name-portfolio {
  background-color: var(--color-white);
  width: calc((100% - 48px) / 3);
}

.link-card-portfolio {
  text-decoration: none;
  display: block;
}

.link-card-portfolio:hover,
.link-card-portfolio:focus {
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
  padding: 0;
  margin-top: 48px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  gap: 10px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--color-dark-blue);
}

.text-add {
  font-style: normal;
  margin-left: auto;
}

.text-add .list {
  display: flex;
  gap: 40px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

/* footer */

.foot-sect {
  background-color: var(--color-darkgrey);
  padding: 100px 0;
}

.text-footer {
  color: var(--color-button);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 264px;
}

.foot-sect .logo.link {
  display: inline-block;
  flex-direction: column;
  margin-bottom: 16px;
}

.logo.link-head {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-blue);
  margin-right: 76px;
}

.part-logo {
  color: var(--color-darkgrey);
}

.foot-part-logo {
  color: var(--color-button);
}

/* portfolio */
.list.main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.container .but {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.hero-port {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-blue);
  background-color: var(--color-button);
  cursor: pointer;
  margin: 0;
  height: 48px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-port:hover,
.hero-port:focus {
  border: 1px solid transparent;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.bord {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.main-text {
  padding: 96px 0 120px 0;
}

.customers-list {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.item-customers {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-five {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-customers {
  font-family: 'Roboto' sans-serif;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-darkgrey);
  margin-bottom: 72px;
}

.customers-link:hover,
.customers-link:focus {
  color: #404bbf;
  border-color: #404bbf;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  fill: currentColor;
}

.worker-icon {
  display: flex;
  margin: 0;
}

.all-icon {
  background-color: var(--color-blue);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.one-icon {
  width: 40px;
  height: 40px;
}

.list-icon {
  gap: 24px;
  display: flex;
  justify-content: center;
  padding: 8px 16px 0 16px;
}

.worker-icon {
  fill: var(--color-button);
}

.all-icon:hover,
.all-icon:focus {
  background-color: #404bbf;
}

.foot-two {
}
.foot-one {
  margin-right: 120px;
}

.container.foot {
  display: flex;
  align-items: baseline;
}
.foot-two-text {
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}

.link-foot {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.foot-icon {
  width: calc((100% - 48px) / 3);
  width: 40px;

  height: 40px;
}

.foot-icon-link {
  display: flex;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.foot-icon-link:hover,
.foot-icon-link:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-two-icon {
  fill: var(--color-button);
}

/* ------- Portfolio overlay --------*/

.container-hidden {
  position: relative;
  overflow: hidden;
}

.container-hidden:hover .hidden-text,
.container-hidden:focus .hidden-text {
  transform: translateX(0);
  background-color: #4d5ae5;
}

.link-card-portfolio:focus .hidden-text {
  transform: translateY(0%);
}

.hidden-text {
  position: absolute;
  top: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-button);
  font-weight: 400;
  font-size: 16px;
  padding: 40px 32px;
  transform: translateY(0%);
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----- Subscribe -------*/
.container-subscribe {
  margin-left: 80px;
}
.text-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form-subscribe {
  display: flex;
  gap: 24px;
}

.input-subscribe {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.input-subscribe::placeholder {
  color: #ffffff;
}

.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.svg-subscribe {
  margin-left: 16px;
}

/* ------ Modal Window ----- */
.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus,
.button-close:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.header-modal {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  color: var(--color-darkgrey);
}

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
  border-color: #4d5ae5;
}

.icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.input-modal:focus-within + .icon-input {
  fill: #4d5ae5;
}

.input-svg {
  position: relative;
}

.container-form {
  margin-bottom: 8px;
}

.label-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-grey);
  display: block;
  margin-bottom: 4px;
}

.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-modal:focus {
  border-color: #4d5ae5;
}
.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-grey);
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.checkbox-input:focus + .checkbox-form > .checkbox-span {
  border-color: #4d5ae5;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-form > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: var(--color-button);
}

.privacy-policy {
  color: var(--color-blue);
}

.button-modal {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

.container-comment {
  margin-bottom: 16px;
}
